<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>简单计算器</h1>
        <div>
            <span>aaa</span>
            <span>
                <input type="text" v-model='a'>
            </span>
        </div>
        <div>
            <span>bbb</span>
            <span>
                <input type="text" v-model='b'>
            </span>
        </div>
        <div>
            <button v-on:click='handle'>计算</button>
        </div>
        <div>
            <span>结果</span>
            <span v-text='age'></span>
        </div>
    </div>
    <script src="./js/vue.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                a: '',
                b: '',
                age: ''
            },
            methods: {
                handle: function() {
                    this.age = parseInt(this.a) + parseInt(this.b)
                }
            }
        });
    </script>
</body>
</html>